<h1> Create Business</h1> 

<form action="/business" method="post">
  <p> Name: <input type="text" placeholder="name" name="name"  class="form" required></p>
  <p> Address: <input type="text" placeholder="address" name="address"  class="form" required></p>
  <p> Phone: <input type="text" placeholder="phone" name="phone"  class="form" required></p>
  <p> Address Link: <input type="text" placeholder="address link" class="form" name="link"  required></p>
  <p> Area (midtown/downtown): <input type="text" placeholder="area" class="form" name="area"  required></p>
  <!-- what to do with pet information.  -->
  
  Category:
  <select name="category" >
    <option value="1">restaurants</option>
    <option value="2">bars</option>
    <option value="3">coffee</option>
    <option value="4">shopping</option>
    <option value="5">parks</option>
    <option value="6">events</option>
    <option value="7">hotels</option>
    <option value="8">work places</option>
  </select>
    
  <input type="checkbox"  name="where[]" value="patio">patio</input>
  <input type="checkbox"  name="where[]" value="inside"> inside</input>
 
  <input type="submit" value="submit" class="submit">

</form>
    

<%restaurants = Business.where("category = '1'")%>
<%bars = Business.where("category = '2'")%>
<%coffees = Business.where("category = '3'")%>
<%shoppings = Business.where("category = '4'")%>
<%parks = Business.where("category = '5'")%>
<%events = Business.where("category = '6'")%>
<%hotels = Business.where("category = '7'")%>
<%workplaces = Business.where("category = '8'")%>

<!-- restaurants -->

 
<h4> restaurants </h4>
<hr>
<% restaurants.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>
<!-- bars -->

<h4> bars </h4>
<hr>
<% bars.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>
<!-- shopping -->

<h4> shopping </h4>
<hr>
<% shoppings.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>
<!-- coffee -->

<h4> coffee </h4>
<hr>
<% coffees.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>

<h4> shopping </h4>
<hr>
<% shoppings.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>

<h4> parks </h4>
<p>(off-the-leash)</p>
<hr>
<% parks.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>

<h4> events </h4>
<hr>
<% events.each do |business| %>
<h5>
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>">   <%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
  <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5>


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>

<h4> hotels </h4>
<hr>
<% hotels.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
 <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>

<h4> work places </h4>
<hr>
<% workplaces.each do |business| %>
<h5> 
  <%=business.name%>
  <p> <%=business.area%></p>
  <a target="blank" href="<%=business.link%>"> 	<%=business.address%> </a>
  <br>
  <a target="blank" href="tel:<%=business.phone%>"><%=business.phone%></a>
 <p> dogs allowed <%=business.where.gsub('"', '').gsub('[','').gsub(']','')%></p>
</h5> 


<p> <a href ="/business/<%=business.id%>"> delete </a></p>
<%end%>


